body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

form[role=login] {
    font: 14px/1.6em Lato, serif;
    padding-top: 60px;
    color: #959595;
    max-width: 320px;
    margin: 0 auto;
}
form[role=login] .input-group-addon {
    border: none;
    background: #fff;
}
form[role=login] input[type=text],
form[role=login] input[type=password] {
    border: none;
    background: #fff;
    box-shadow: none;
    font-size: 15px;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(104, 104, 104, 0.4);
    -moz-box-shadow: 1px 1px 2px 0px rgba(104, 104, 104, 0.4);
    box-shadow: 1px 1px 2px 0px rgba(104, 104, 104, 0.4);
}
form[role=login] input[type=text]:focus,
form[role=login] input[type=password]:focus {
    background: #f6f6f6;
}
form[role=login] > div {
    position: relative;
    margin: 34px 0;
}
form[role=login] > section {
    margin: 0 0 20px 0;
}
form[role=login] > button {
    font-size: 17px;
}

.left {
    background: #fff;
    padding: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 auto;
}
.right {
    padding: 0;
}

.form-group.less-space {
    margin-bottom: 18px;
}

.form-control {
    padding-left: 40px;
    width: auto;
}
.form-control + .glyphicon {
    position: absolute;
    left: 0;
    top: 15%;
    padding: 8px 0 0 15px;
    font-size: 16px;
}
.navbar-brand{
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}
.same-heigh{
    display: flex; 
}
.same-heigh-col{
    flex: 1; /* additionally, equal width */
}
.body-login{
    background: #fafafa;
}
.input-login{
    width: 100%;
}